
.icon-user:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-users-outline:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-credit-card:before { content: '\e805'; } /* '' */
.icon-wallet:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\e807'; } /* '' */
.icon-right-circled:before { content: '\e808'; } /* '' */
.icon-plus-1:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-minus-1:before { content: '\e80c'; } /* '' */
.icon-left-circled:before { content: '\e80d'; } /* '' */
.icon-up-circled:before { content: '\e80e'; } /* '' */
.icon-down-circled:before { content: '\e80f'; } /* '' */
.icon-down-open:before { content: '\e810'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-left-open:before { content: '\e812'; } /* '' */
.icon-right-open:before { content: '\e813'; } /* '' */
.icon-key:before { content: '\e814'; } /* '' */
.icon-login:before { content: '\e815'; } /* '' */
.icon-logout:before { content: '\e816'; } /* '' */
.icon-info-circled-1:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-paypal-1:before { content: '\f342'; } /* '' */